#map { height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;}
.error-message { color: red; }
#address-suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;

}
#address-suggestions div {
    padding: 5px;
    cursor: pointer;
}
#address-suggestions div:hover {
    background-color: #f0f0f0;
}
.password-field {
    position: relative;
}
.password-field input {
    width: 100%;
    padding-right: 30px; /* Make room for the icon */
}
.password-toggle {
    position: absolute;
    right: 10px;
    top: -5%;
    transform: translateY(250%);
    cursor: pointer;
}