<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Map View</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/map.css"/>
</head>
<body>
<header>
    <h1>Admin Dashboard</h1>
    <nav>
        <div class="nav-container">
            <ul>
                <li><a href="/admin_dashboard.html">Items</a></li>
                <li><a href="/admin_dashboard/map.html">Map View</a></li>
                <li><a href="/admin_dashboard/warehouse_status.html">Warehouse Status</a></li>
                <li><a href="/admin_dashboard/rescuer_management.html">Rescuer Management</a></li>
                <li><a href="/admin_dashboard/announcement_creation.html">Announcements</a></li>
                <li><a href="/admin_dashboard/stats.html">Stats</a></li>
            </ul>
        </div>
        <button id="logoutButton" class="logout-button">Logout</button>
    </nav>
</header>
<main>
    <div id="mapid" style="padding: 30px"></div>
</main>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/map.js"></script>
</body>
</html>